<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giriş</title> 
    <link rel="stylesheet" href="/styles/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/keyboard/keyboard.js" charset="UTF-8" type="text/javascript" defer></script>

</head>
<body>
  <div class="container">
    <div class="inputs">
      <form action="/result" method="POST" class="form-structure">
        <input type="text" name="selfName" placeholder="İsim" dir="RTL" lang="ar" class="nameOfPerson nameInput" autocomplete="off" readonly>
        <input type="text" name="motherName" placeholder="Anne adı" dir="RTL" lang="ar" class="nameOfMother nameInput" autocomplete="off" readonly>
        <input type="text" name="fatherName" placeholder="Baba adı" dir="RTL" lang="ar" class="nameOfFather nameInput" autocomplete="off" readonly>
        <button class="main-btn" type="submit">HESAPLA</button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="keyboard">
      <div class="key-row">
        
        <button class="key-btn">ذ</button>
        <button class="key-btn">د</button>
        <button class="key-btn">خ</button>
        <button class="key-btn">ح</button>
        <button class="key-btn">ج</button>
        <button class="key-btn">ث</button>
        <button class="key-btn">ت</button>
        <button class="key-btn">ب</button>
        <button class="key-btn">ا</button>
        <button class="material-icons key-btn">backspace</button>
      </div>
      <div class="key-row">
        
        <button class="key-btn">ﻍ</button>
        <button class="key-btn">ﻉ</button>
        <button class="key-btn">ظ</button>
        <button class="key-btn">ط</button>
        <button class="key-btn">ض</button>
        <button class="key-btn">ص</button>
        <button class="key-btn">ﺵ</button>
        <button class="key-btn">س</button>
        <button class="key-btn">ز</button>
        <button class="key-btn">ر</button>
      </div>
      <div class="key-row">
        
        <button class="key-btn">و</button>
        <button class="key-btn">ه</button>
        <button class="key-btn">ن</button>
        <button class="key-btn">م</button>
        <button class="key-btn">ل</button>
        <button class="key-btn">ك</button>
        <button class="key-btn">ق</button>
        <button class="key-btn">ف</button>
        <button class="key-btn">ي</button>
      </div>
      
    </div>
  </div>
    
</body>
</html>
